.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.banner{
  height: 600px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}
/* 
.banner ::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
} */

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

.card{
  
  height: 200px;
  width: 300px;
}

.overlay{
  color: white;
  opacity: 0;
  background: rgba(43,41,41,0.7);
  width:100%;
  height: 100%;
}

.card:hover .overlay{
  opacity: 1;
}

.home-div{
  background-color: black;
}

.movies{
  color: white;
}

.container{
  
}

.Badge{margin: 5px;
}
.detail-container container{
  background-color: black;
}

.detail-background {
  color: white;
  background-color: black;
  height: 100%;
  margin-top: 4em;

}

.all{
  background-color: black;
}

.genres-div{
  display: flex;
  margin-bottom: 1em;
}

.title-div{
  display: flex;
  margin-bottom: 1em;
}

.title-div h1{
  font-weight: 500;
  font-size: 60px;
}

.subtitle-div{
  display: flex;
  margin-bottom: 1em;
}

.vote-div{
  display: flex;
  font-size: 20px;
  margin-bottom: 1em;
  border-bottom: 1px solid white;
  height: 5%;
}

.popularity-div{
  margin-left: 1em;
}

.adult-div{
  margin-left: 1em;
  color: tomato;
  font-weight: bold;
}

.overview-div{
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}
.overview-div h5{
  margin-bottom: 1em;
}

.sub-div{
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

.budget-div{
  display: flex;
  margin-bottom: 1em;
}

.budget-badge{
  width: 100px;
  height: 20px;
  margin-right: 1em;
}

.trailer-div{

}

.second-container{
  margin-top: 8em;
  
  
}
.second-container h3{
  margin-bottom: 1em;
  font-weight: bold;
}


.cast-div{
  display: flex;
  
}

.profile-div{
 margin-right: 3em;
  
}

.profile-div p{
  margin-top: 1em;
}

.review-div{
  margin-top: 3em;
  border: 4px solid white;
}

.review-button{
  margin-top: 3em;
  display: flex;
}
.review-box{
  margin-top: 2em;
}

.author{
  font-weight: bold;
}

.review{
  width: 200px;
  height: 45px;
  border: 1px solid white;
  margin-right: 20px;
  text-align: center;  
  cursor: pointer;
}
.review p{
  font-size: 25px;
  font-weight: bold;
}

.recommend{
  width: 200px;
  height: 45px;
  border: 1px solid white;
  cursor: pointer;
}

.recommend p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;  

}

