.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.nav-item:hover{color: red;}

.banner{
  height: 600px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}
/* 
.banner ::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
} */

.banner-info{
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

.card{
  
  height: 200px;
  width: 300px;
  cursor: pointer;
}

.overlay{
  color: white;
  opacity: 0;
  background: rgba(43,41,41,0.7);
  width:100%;
  height: 100%;
}

.card:hover .overlay{
  opacity: 1;
}

.home-div{
  background-color: black;
}

.movies{
  color:red;
}

.container{
  
}

.Badge{margin: 5px;
}
.detail-container container{
  background-color: black;
}

.detail-background {
  color: white;
  background-color: black;
  height: 100%;
  margin-top: 4em;

}

.all{
  background-color: black;
}

.genres-div{
  display: flex;
  margin-bottom: 1em;
}

.title-div{
  display: flex;
  margin-bottom: 1em;
}

.title-div h1{
  font-weight: 500;
  font-size: 60px;
}

.subtitle-div{
  display: flex;
  margin-bottom: 1em;
}

.vote-div{
  display: flex;
  font-size: 20px;
  margin-bottom: 1em;
  border-bottom: 1px solid white;
  height: 5%;
}

.popularity-div{
  margin-left: 1em;
}

.adult-div{
  margin-left: 1em;
  color: tomato;
  font-weight: bold;
  font-style: oblique;
}

.overview-div{
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}
.overview-div h5{
  margin-bottom: 1em;
}

.sub-div{
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}

.budget-div{
  display: flex;
  margin-bottom: 1em;
}

.budget-badge{
  width: 100px;
  height: 20px;
  margin-right: 1em;
}

.trailer-div{
}

.trailer-div h6{
  cursor: pointer;
}

.second-container{
  margin-top: 8em;
  
  
  
}
.second-container h3{
  margin-bottom: 1em;
  font-weight: bold;
}


.cast-div{
  display: flex;
  
}

.profile-div{
 margin-right: 3em;
  
}

.profile-div p{
  margin-top: 1em;
}

.review-div{
  margin-top: 3em;
  border: 4px solid white;
}

.review-button{
  margin-top: 3em;
  display: flex;
}
.review-box{
  margin-top: 2em;
}

.author{
  font-weight: bold;
}

.review{
  width: 200px;
  height: 45px;
  border: 1px solid white;
  margin-right: 20px;
  text-align: center;  
  cursor: pointer;
}
.review p{
  font-size: 25px;
  font-weight: bold;
}

.recommend{
  width: 200px;
  height: 45px;
  border: 1px solid white;
  cursor: pointer;
}

.recommend p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;  

}

.recommend-div{
  margin-top: 3em;
}

.modal-body{
  background-color: #282828;
  color: white;
}

.movies-container{
  height: 100%;
}


/* 페이지 네이션 css */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #8c8c8c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: red;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: red;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: red;
}
/* 페이지 네이션 css */


.all-card{
  color: white;
}

.genre-btn {}

.genre-btn Button{margin-right: 1em;}